@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible; }

  .collapse-md {
    display: none; } }
@media (min-width: 992px) {
  .collapse.dont-collapse-md {
    display: block;
    height: auto !important;
    visibility: visible; }

  .collapse-lg {
    display: none; } }
.bg-white {
  background-color: #ffffff; }

.bg-primary, .app-bg-primary {
  background-color: #0D59CA; }

body, p, span, li, a, div, section, table, button, input {
  font-family: 'Poppins', sans-serif; }

.bold {
  font-weight: bold; }

.medium {
  font-weight: 600; }

.center {
  text-align: center; }

.text-small {
  font-size: .85rem; }

.text-big {
  font-size: 1.5rem; }

.text-big2 {
  font-size: 2rem; }

.text-large {
  font-size: 2.5rem; }

.spread {
  letter-spacing: .21px; }

.text-primary, .app-text-primary {
  color: #0D59CA; }

.txt-dark, .text-dark {
  color: #333333; }

.text-almost-dark {
  color: #464646; }

.app-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  padding: 5px;
  margin-top: 5px; }

.app-icon.left-arrow {
  background-image: url("../images/icons/buttons/left-arrow.png"); }

.faster2x {
  animation-duration: .2s; }

@-webkit-keyframes slideInUpShort {
  from {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideInUpShort {
  from {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInUpShort {
  -webkit-animation-name: slideInUpShort;
  animation-name: slideInUpShort; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.menu-accent-2px .hvr-underline-from-left:before {
  background: #EAB300;
  height: 2px; }

.header-wrapper {
  position: relative;
  z-index: 100; }
  .header-wrapper .navbar {
    padding-top: 0px;
    padding-bottom: 0px; }
  .header-wrapper .navbar-brand {
    padding-top: 10px; }
  .header-wrapper .navbar-toggler {
    color: #ffffff; }
  .header-wrapper .header-bottom {
    position: absolute;
    top: 82px;
    width: 100%;
    left: 0px; }
    .header-wrapper .header-bottom a {
      color: #ffffff; }
  .header-wrapper .header-info {
    display: flex;
    margin-top: 10px; }
    .header-wrapper .header-info .header-info-text {
      padding-left: 10px; }
  .header-wrapper .lang-text {
    padding-left: 20px; }
  .header-wrapper .nav-item {
    padding: .5rem 0rem;
    padding-top: .75rem; }
  .header-wrapper .nav-item.active {
    border-bottom: 4px solid #ffffff; }
  .header-wrapper .dropdown-menu {
    border-radius: 0px;
    border-bottom: 4px solid #CEA211;
    margin-top: 0px; }
    .header-wrapper .dropdown-menu a.dropdown-item {
      color: #333333;
      padding-top: .5rem;
      padding-bottom: .5rem; }
      .header-wrapper .dropdown-menu a.dropdown-item span {
        padding-right: 10px; }
    .header-wrapper .dropdown-menu a.dropdown-item:hover {
      color: #EAB300;
      background: none; }
  .header-wrapper .header-search.input-group {
    margin-bottom: 0px; }
    .header-wrapper .header-search.input-group input.form-control {
      border-radius: 0px;
      border: none;
      height: 65px;
      background: #116AD8;
      color: #efefef;
      padding: 0px 0px 0px 1.2rem; }
    .header-wrapper .header-search.input-group input.form-control::placeholder {
      color: #ffffff; }
    .header-wrapper .header-search.input-group button.btn {
      border: none;
      color: #ffffff;
      background-color: #116AD8;
      padding-right: 1.2rem; }
  .header-wrapper .app-sticky-top {
    position: fixed;
    top: 0px;
    height: 82px;
    width: 100%;
    display: none;
    background: #ffffff; }
    .header-wrapper .app-sticky-top .navbar-brand img {
      width: 160px; }
    .header-wrapper .app-sticky-top .navbar-toggler i {
      color: #0D59CA; }
  @media (min-width: 992px) {
    .header-wrapper .navbar-expand-lg .navbar-nav .nav-link {
      padding: .5rem 1rem; } }

.no-hover {
  pointer-events: none; }

.no-padding {
  padding: 0px; }

.no-margin {
  margin: 0px; }

.no-border-radius {
  border-radius: 0px; }

.no-border {
  border: none; }

.drop-shadow {
  box-shadow: 6px 6px 20px #00000029; }

.mock-main {
  display: block;
  width: 100%;
  height: 3000px;
  background-color: #ccc; }
  .mock-main p {
    position: absolute;
    bottom: 0px;
    color: blue; }

/******** LANDING PAGE  **************/
/*************************************/
.home-slider {
  position: relative;
  top: -96px;
  z-index: 1; }
  .home-slider .carousel-item {
    padding-top: 96px; }
    .home-slider .carousel-item .slider-title {
      font-weight: 600;
      color: #ffffff;
      padding: .8em;
      line-height: 1.3em; }
    .home-slider .carousel-item .slider-btn {
      margin-right: 10px; }
      .home-slider .carousel-item .slider-btn ion-icon {
        position: relative;
        top: 3px;
        left: 3px; }
  .home-slider .slider1 {
    background-image: url("../images/homesliders/bettertranslate.png");
    background-size: 1100px;
    background-repeat: no-repeat;
    background-position: center top; }

.slider-overlapped-cards .container {
  padding: 0px 80px; }
.slider-overlapped-cards .card-body {
  line-height: 42px;
  overflow-wrap: normal;
  padding-top: 30px;
  padding-bottom: 40px; }
  .slider-overlapped-cards .card-body img {
    height: 126px;
    padding-bottom: 20px; }

@media (min-width: 992px) {
  .home-slider .carousel-item {
    height: 650px; }

  .slider-overlapped-cards {
    position: relative;
    top: -300px; } }

/*# sourceMappingURL=main.css.map */
