.faster2x{
    animation-duration: .2s;
}

// SlideUp Short
@-webkit-keyframes slideInUpShort {
    from {
      -webkit-transform: translate3d(0, 50%, 0);
      transform: translate3d(0, 50%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInUpShort {
    from {
      -webkit-transform: translate3d(0, 50%, 0);
      transform: translate3d(0, 50%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInUpShort {
    -webkit-animation-name: slideInUpShort;
    animation-name: slideInUpShort;
  }


  // fadeUp short

  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  
  //underline from left thin orange
  .menu-accent-2px .hvr-underline-from-left:before {
    background:$accent-color;
    height: 2px;
  }

  // .menu-white>.hvr-underline-from-left:before {
  //   background:#ffffff;
  // }

  // .menu-white>.hvr-underline-from-left.active:before {
  //   background: none;
  // }

  //hover float 2Y
  .hvr-float-2x {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float-2x:hover, .hvr-float-2x:focus, .hvr-float-2x:active {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
  