.btn-accent{
    background-color: $accent-dark-color;
    color:#ffffff;
}
.btn-long{
    font-size: 1.38rem;
    padding: 1rem 2.4rem;
}
.btn-round{
    width:75px;
    height: 75px;
    border-radius: 100%;
}
.btn-bar{
    .btn{
        margin:0px 20px 20px 0px;
    }
}