$primary-color:#0D59CA;
$primary-bright-color:#116AD8;
$accent-color:#EAB300;
$accent-dark-color:#CEA211;
$dark: #333333;
.bg-white{
    background-color: #ffffff;
}
.bg-primary, .app-bg-primary{
    background-color: $primary-color;
}
.txt-dark{
    color: $dark;
}