footer{
    //background-color: 
}
.footer-wrapper{
    color:#ffffff;
    padding:40px;
    background: transparent url('../images/footer_wm.svg') 0% 0% no-repeat padding-box;
    .copyrights{
        padding-top:40px;
    }
}