
.header-wrapper{
    position: fixed;
    top:0px;
    width:100%;
    z-index: 200;
    header{
        background-color: #ffffff;
        .navbar{
            height: 90px;
            padding-top:0px;
            //overflow: hidden;
            background-color: #ffffff !important;
            a.navbar-brand{
                padding-top: 0px;
                img{
                    height:60px;
                }
            }
            ul.main-nav-list{
                padding-top:13px;
                width: 100%;
                li.nav-item{
                    padding-right:35px;
                }
            }
        }
    }
}