//common
.no-hover{
    pointer-events: none;
}
.no-padding{
    padding:0px;
}
.no-margin{
    margin:0px;
}
.no-border-radius{
    border-radius: 0px;
}
.no-border{
    border: none;   
}

.drop-shadow{
    box-shadow: 6px 6px 20px #00000029;
}
// .line-height-close{
//     line-height: 1.2em;
// }


// Landing Page

// Slider

.home-slider{
    .carousel-item{
        .slider-title{
            font-size: 52px;
            font-weight: 600;
            color: #ffffff;
            padding: .8em;
            line-height: 1.3em;
        }
        .slider-btn{
            margin-right: 10px;
            ion-icon{
                position: relative;
                top:3px;
                left: 3px;
            }
        }
    }
    .slider1{
        background-image: url('../images/homesliders/slider1.png');
        background-size: cover;
    }
}

// slider overlap cards
.slider-overlapped-cards{
    position: relative;
    top: -300px;
    .container{
        padding: 0px 80px;
    }
    .card-body{
        line-height: 42px;
        overflow-wrap: normal;
        img{
            padding-bottom: 20px;
        }
    }
}

//media query
@media (min-width: 992px){
    .home-slider{
        .carousel-item{
            height: 650px;
        }
    }
}