@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body, p, span, li, a, div, section, table, button, input{
    font-family: 'Poppins', sans-serif;
}
.bold{
    font-weight: bold;
}
.medium{
    font-weight: 600;
}
.center{
    text-align: center;
}
//font

// sizes
.text-small{
    font-size: .85rem;
}
.text-big{
    font-size: 1.1rem;
}
.text-big2{
    font-size: 1.5rem;
}
.text-large{
    font-size: 2rem;
}
.spread{
    letter-spacing: .21px;
}

//color
.text-primary, .app-text-primary{
    color: $primary-color;
}
//todo remove .txt in all pages
.txt-dark, .text-dark{
    color: $dark;
}
.text-white{
    color:#ffffff;
}
.text-almost-dark{
    color: $almost-dark;
}
.text-accent-dark{
    color:$accent-dark-color;
}
@media (min-width: 576px) {
    .text-small{
        font-size: .85rem;
    }
    .text-big{
        font-size: 1.5rem;
    }
    .text-big2{
        font-size: 2rem;
    }
    .text-large{
        font-size: 2.5rem;
    }
    .spread{
        letter-spacing: .21px;
    }
}