@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body, p, span, li, a, div, section, table, button, input{
    font-family: 'Poppins', sans-serif;
}
.bold{
    font-weight: bold;
}
.center{
    text-align: center;
}
//font

// sizes
.text-small{
    font-size: .85rem;
}
.spread{
    letter-spacing: .21px;
}
